*{
    box-sizing: border-box;
}
body{
    background: #0ed145;
}
h1, h2{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
.add_form_section{
    float: left;
    display: grid;
    margin-left: auto;
}

#add-div{
    position: absolute;
    top: 80px;
    left: 100px;
    padding: 10px;
    width: 100px;
}