*{
    box-sizing: border-box;
}
body{
    background: #0ed145;
}
h1, h2{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
input{
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
}
select{
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
}
button{
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
}
.header_logo{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 33px;
    display: flex;
    justify-content: center;
}
