*{
    box-sizing: border-box;
}
body{
    background: #0ed145;
}
h1, h2{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 70%;
    padding: 10px;
}
th{
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}
td{
    height: 50px;
    text-align: center;
    vertical-align: center;
}
button{
    font-family: 'Slabo 27px', serif;
    font-size: 23px;
    color: whitesmoke;
    width: inherit;
    height: max-content;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
}
button:hover{
    color: brown;
}
tr:hover {background-color: lawngreen;}
input, textarea{
    font-family: 'Slabo 27px', serif;
    font-size: 17px;
    width: fit-content;
    margin-top: 10px;
}
.header_logo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.editBtn{
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    color: whitesmoke;
    width: inherit;
    height: max-content;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
}
.editBtn:hover{
    color: brown;
}

.addEditBtn{
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    color: whitesmoke;
    width: fit-content;
    height: max-content;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
    margin-left: 10px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #0ed145;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}