*{
    box-sizing: border-box;
}

body{
    background: #0ed145;
}

h1{
    margin: 0;
    font-size: 73px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}

button:hover{
    color: brown;
}

button{
    font-family: 'Slabo 27px', serif;
    font-size: 23px;
    color: whitesmoke;
    width: inherit;
    height: inherit;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
}

form{
    width: 250px;
    height: max-content;
    margin: 0 5px;
}

.header_logo{
    width: inherit;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

/* Intro */
.intro{
    width: 100%;
    height: 100vh;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    place-content: center;
}

/* Forms container */
#forms_container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}