*{
    box-sizing: border-box;
}

body{
    background: #0ed145;
}
h1{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
form{
    width: 200px;
    padding: 10px;
}
input{
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    width: inherit;
}
button{
    font-family: 'Slabo 27px', serif;
    font-size: 23px;
    color: whitesmoke;
    width: inherit;
    height: max-content;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
}
button:hover{
    color: brown;
}
.header_logo{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    height: 50vh;
}
/* Forms container */
#forms_container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
/*to Sign UP button*/
#toSignUp{
    justify-content: right;
    width: 200px;
    height: 20%;
}