*{
    box-sizing: border-box;
}
body{
    background: #0ed145;
}
h1, h2{
    margin: 0;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 70%;
    padding: 10px;
}
th{
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}
td{
    height: 50px;
    text-align: center;
    vertical-align: center;
}
button{
    font-family: 'Slabo 27px', serif;
    font-size: 23px;
    color: whitesmoke;
    width: inherit;
    height: max-content;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
}
form{
    margin: 10px;
    float: bottom;
}
button:hover{
    color: brown;
}
tr:hover {background-color: lawngreen;}
.header_logo{
    display: flex;
    justify-content: center;
}

.page_btn{
    float: left;
    margin: 5px;
}

#select_container{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.select_div{
    margin: 15px;
    float: left;
}