*{
    box-sizing: border-box;
}
body{
    background: #0ed145;
}
h1{
    margin: 0;
    font-size: 73px;
    color: #ffffff;
    font-family: 'Ultra', serif;
    position: center;
}
button:hover{
    color: brown;
}
button{
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    color: whitesmoke;
    width: inherit;
    height: inherit;
    background-color: green;
    border-color: chartreuse;
    border-style: initial;
    margin-top: 15px;
}
form{
    width: 250px;
    height: max-content;
}
input{
    font-family: 'Slabo 27px', serif;
    font-size: 27px;
    width: inherit;
    float: left;
    margin-top: 15px;
}
.header_logo{
    width: inherit;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.inputs{
    display: flex;
    justify-content: center;
}
/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#input_container{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#back{
    width: max-content;
}

#backForm{
    display: flex;
    justify-content: center;
}