<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/addProducts.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ultra&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div class="header_logo">
    <h1>Add product</h1>
</div>
        <div class="container">
            <form id="add_form" class="add_form">

                    <input id="nameIn" placeholder="name" ref="nameIn" type="text" v-model="prodName"/>
                    <select id="category_select" @change="handleChange">
                        <option id="category_option"></option>
                    </select>
                    <input id="descriptionIn" placeholder="description" ref="descriptionIn" type="text"/>
                    <input id="imageIn" placeholder="insert image path" ref="imageIn" type="text"/>
                    <input id="priceIn" placeholder="price" ref="priceIn" type="text"/>
                    <input id="btnIn" type="button" value="Add product" @click="saveBtn"/>
            </form>
        </div>

    <div class="container">
        <form action="/products">
            <button align="center" type="submit">Back</button>
        </form>
    </div>

    <script src="/js/addProduct.js"></script>
    <script src="/js/category_select.js"></script>
</body>
</html>