<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ultra&display=swap" rel="stylesheet">
    <title>Stock</title>
</head>
<body>

<div class="intro">

    <div id="main_container" class="container">

        <div class="header_logo">
            <h1>Stock</h1>
        </div>

        <div id="forms_container" class="container">

            <form id="toLogin" action="login">
                <button type="submit" formaction="login">to Login</button>
            </form>

            <form id="toSignUp" action="signUp">
                <button type="submit">to Sign up</button>
            </form>

        </div>

    </div>

</div>

</body>
</html>