<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Ultra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/products.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <div class="header_logo">
        <h1>Products</h1>
    </div>

    <div id="select_container" class="container">
        <div class="select_div">
            <h4>Category</h4>
            <div id="category_select" ></div>
        </div>
        <div class="select_div">
            <h4>Display elements</h4>
            <div id="displayElementsDiv"></div>
        </div>
        <div class="select_div">
            <h4>Sort</h4>
            <div id="sortElementDiv"></div>
        </div>
    </div>

    <div class="container" align="center">
        <table id="products-table">
        </table>
    </div>

    <div class="container">
        <button id="previousPageBtn"></button>
        <button id="nextPageBtn"></button>
    </div>

    <br>

    <div class="container">
        <div class="addProductsDiv">

        </div>
        <script>
            new Vue({

            })
        </script>
        <form action="/products/add">
            <button align="center" type="submit">Add product</button>
        </form>

        <form action="/categories">
            <button align="center" type="submit">Categories</button>
        </form>
    </div>

</body>
<script src="/js/category_select.js"></script>
<script src="/js/displayElements_select.js"></script>
<script src="/js/sort_select.js"></script>
<script src="/js/previousPageBtn.js"></script>
<script src="/js/nextPageBtn.js"></script>
<script src="/js/products.js"></script>
</html>